<h1 class='text-center my-2'>Coder Server</h1>
<p class='p-4 fs-4'>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Blanditiis minus asperiores fugit tempore, assumenda soluta sit labore
    maxime cupiditate, et autem obcaecati at nobis. Repellat molestiae quasi
    recusandae tempora accusamus. Eligendi fugit cum atque, amet eos fugiat,
    accusantium quia ut eaque ex nostrum voluptatem reiciendis blanditiis aut
    voluptatibus corrupti quibusdam dignissimos quo earum ea dolore praesentium
    laboriosam illo quos. Obcaecati. Natus possimus odio impedit optio deleniti
    fuga commodi aliquid aliquam, debitis dicta quos et consectetur beatae
    repellendus voluptatum veniam quas, quisquam tempora accusamus nesciunt
    quasi. Voluptatem harum sit sequi assumenda! Consectetur non iste ullam vero
    possimus? Quaerat ex ab itaque veniam eum molestias amet porro, nobis
    consectetur, beatae impedit nesciunt consequatur quis architecto natus quia
    eius qui, sint dolorum dolores. Harum corrupti, ipsum veritatis deserunt
    architecto praesentium quis aliquid, nostrum ad cum amet debitis doloribus
    inventore voluptatibus, ut necessitatibus adipisci quidem sit? Eaque vero
    sed minima odio esse, nobis explicabo?</p>

<script src='/socket.io/socket.io.js'></script>
<script>
    const socket = io()
    
    socket.on('products', (data) => {
        console.log(data)
    })
</script>