.text-green{
    color:#EAFF6A !important;
}

.link{
    text-decoration: none;
    text-align: center;
}
.customButton {
    background-color: black;
    color: #EAFF6A;
    border: 2px solid #EAFF6A;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.customButton:hover {
    background-color: #555;
    color: #EAFF6A;
}

.customButton2 {
    background-color: transparent;
    color: #EAFF6A;
    border: 2px solid #EAFF6A;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.customButton2:hover {
    background-color: #EAFF6A;
    color: #000000;
}

.imageButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #000;
    border: solid 1.5px #EAFF6A;
    color:#EAFF6A;
    border-radius: 20px;
}

.imageButton:hover{
    background-color: #383535;
}

.item-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #FFF;
    border: solid 1px #EAFF6A;
    border-radius: .8rem;
    margin: 10px;
    padding: 2rem;
    width: 23rem !important;
    min-width: 23rem;
    max-width: 23rem;
    height: 23rem !important;
    min-height: 23rem;
    max-height: 23rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.item-card .card-title{
    text-align: start;
    font-size: 1.3rem;
}

.item-card .card-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-card .brand{
    font-weight: bold;
}

.item-card .price{
    font-weight: bold;
    font-size: 1.2rem;
    color:darkslategrey
}

.item-card .photo{
    width: 10em;
}

.item-card .fav{
    position: absolute;    
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: transparent;
}

.item-card .card-icons{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-card .card-icons button{
    background-color: transparent;
    border: none    ;
}

.item-card .icon{
    height: 1.8rem;
}

.item-card .share{
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    border: none;
    background-color: transparent;
}

.item-card .button{
    position: absolute;
    width: 100%;
    bottom: 0rem;
    left: 0rem;
    padding: .5rem;
    background-color: #EAFF6A;
    border: none;
    border-top: solid 1px #EAFF6A;
    color: #000;
    transition: all ease .3s;
}

.item-card .button:hover{
    background-color: #000;    
    color: #EAFF6A;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.product-card {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    max-width: 900px;
    margin: auto;
}
.product-image {
    flex: 1;
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat; 
    min-height: 300px;
}
.product-details {
    background-color: #d0ff0015;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.product-subtitle {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}
.product-price {
    font-size: 28px;
    color: #E54A1A;
    font-weight: bold;
}
.payment-options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.payment-options img {
    width: 50px;
    margin-right: 10px;
}
.address {
    font-size: 14px;
    color: #666;
}

/* Estilos del cart */
.cart-title{
    background-color: #EAFF6A;
    text-align: center;
    padding: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 0 auto;
    background-color: black;
    color: #EAFF6A;
    border: 2px solid #EAFF6A;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.cart-item img {
    background-color: white;
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.cart-item-details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-grow: 1;    
}
.cart-item-details h2 {
    font-size: 24px;
    margin: 0;
    color: #EAFF6A;
}
.cart-item-details span {
    color: white;
    margin: 5px 0;
    font-size: 18px;
}
.cart-item-price,
.cart-item-quantity {
    font-size: 20px;
}
.cart-item-delete {
    margin-left: 20px;
    cursor: pointer;
}
.cart-item-delete img {
    width: 35px;
    height: 35px;
}

.cart-total{
    display: flex;
    align-items: center;
    background-color: black;
    color: #EAFF6A;
    font-size: 1.4rem;
    border: 2px solid #EAFF6A;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.cart-total span{
    width: 100%;
    text-align: end;
}

/* User profile */

.profileCard{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.profileCard:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:lightgrey;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.profileCard:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#ebff6a;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.profileCard:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}

.buttons button:nth-child(1){
    border:1px solid #000 !important;
    color:#000;
    height:40px;
}

.buttons button:nth-child(1):hover{
    border:1px solid #ebff6a !important;
    color:#000;
    height:40px;
    background-color:#ebff6a;
}

.buttons button:nth-child(2){
    border:1px solid #ebff6a !important;
    background-color:#ebff6a;
    color:#000;
    height:40px;
}